/* Documentation and tutorial CSS */

@media all
{
    body {
        margin: 10px 8% 10px 8%;
        font-family: Verdana;
        text-align: justify;
        font-size: 10pt;
        padding: 10px;
        line-height: 1.2em;
    }


    #table-of-contents {
        color: black;
        background: #FFF;
        font-size: 80%;
        padding: .5em;
        margin: 1em -2em 1em 1em;
        display: block;
        float: right;
    }

    #table-of-contents a  {
        color: #003333;
    }

    #table-of-contents a:hover {
        color: #003333;
        text-decoration: underline;
    }

    #table-of-contents li  {
        margin: .2em;
    }

    #table-of-contents h2 {
        margin-top: .2em;
        border: none;
    }

    h1 {
        font-size: 12pt;
    }

    .title {
        color: #336633;
        padding-bottom: 7px;
        margin-bottom: 20px;
        border-bottom: 1px solid #222;
    }

    h2 {
        color: #006600;
        margin-top: 1.5em;
        font-size: 12pt;
        padding-bottom: 4px;
        margin-bottom: 5px;
        border-bottom: 3px solid #DDD;
    }

    h3 {
        font-size: 11pt;
        color: #339933;
    }

    h4 {
        font-size: 9pt;
    }

      a {
    color: #006666
  }

  a:visited {
    text-decoration: none;
    color: #336666
  }

  a:hover {
    text-decoration: underline;
    color: #003333
  }
}

@media screen
{
    #table-of-contents {
        float: right;
        border: 1px solid #CCC;
        max-width: 50%;
        overflow: auto;
    }
}

/* API Documentation CSS */


    .epydoc {
        color: #336633;
        padding-bottom: 7px;
        margin-bottom: 20px;
        border-bottom: 1px solid #222;
        font-weight: bold;
    }

    .table-header {
        background: #009933;
        color: #ffffff;
        font-weight: bold;
    }
    .sig-name {
        color: #000000;
        font-size: 12pt;
        margin-right: 0.5em;
    }

    .sig-arg {
        font-family: Times New Roman;
        font-size: 13pt;
        font-style: italic;
    }

    .sig-default {
        color: #000000;
        font-family: Times New Roman;
        font-size: 13pt;
        font-style: italic;
    }

    .details {
        margin-top: 0.5em;
        background: #CCFFCC;
    }

    dt {
        font-weight: bold;
    }

    pname {
        font-size: 12pt;
        font-weight: normal;
    }

    .navbar {
        background: #CCFFCC;
    }

    .privatelink {
        color:#CCFFCC;
    }

    